.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 24px 0 24px;

}

.header_logo-link {
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.8px;
    z-index: 11;
}

.js-header-toggler {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: var(--main-color);
    z-index: 11;
    overflow: hidden;
}

.js-header-toggler:before {
    content: '+';
    font-size: 50px;
    width: 100%;
    height: 100%;
    line-height: 46px;
    display: inline-block;
    color: var(--main-color);
    background-color: var(--secondary-color);
    text-align: center;
    transition: 1.6s;
}

.js-header-toggler.active:before {
    transform: rotate(495deg);
    background-color: var(--specific-color);
    color: var(--secondary-color);
}

.header_nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--main-color);
    z-index: 10;
    display: flex;
    overflow-y: auto;
    transition: all 1s ease;
    visibility: hidden;
    opacity: 0;
}

.header_nav.open {
    visibility: visible;
    opacity: 1;
}

.header_list {
    padding: 16px 16px 0 16px;
    margin: 94px 16px 32px 16px;
    width: 100%;
    background-color: var(--specific-color-1);
    border-radius: 16px;
    overflow: auto; 
}

.link_container {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.header_link {
    color: var(--secondary-color);
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 7em;
    text-transform: uppercase;
    line-height: .8;
    font-weight: 400;
    padding: 20px 0;
    transition: color 0.5s ease;
    letter-spacing: -2.5px;
}

.header_link:hover {
    color: var(--specific-color);
    translate: 8px;
}

.header_link:hover ~ .number {
    color: var(--specific-color);
    scale: 1.3;
}

.number:hover {
    color: var(--specific-color);
}

.number {
    color: var(--secondary-color);
    font-family: 'Anton', sans-serif;
    font-size: 1.4rem;
    line-height: .8;
    padding: 20px 0;
    transition: color 0.5s ease;
}

.line {
    height: 1px;
    background-color: var(--secondary-color);
    width: 100%;
    display: block;
}

.header_line {
    transition: transform 1s ease;
    transform: scale(0, 1);
    transform-origin: left;
}

.header_nav.open .header_line {
    transform: scale(1);
}

.social_container {
    width: 100%;
    margin: 200px auto 16px auto;
    display: flex;
    justify-content: space-between;
}

.social_link {
    color: var(--secondary-color);
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.5px;
}

.social_link:hover {
    color: var(--specific-color);
    transform: scale(1.3);
}